<!DOCTYPE HTML>
<html lang = "en">
  <head>

    <title>Car Services</title>
    <meta charset = "UTF-8" />
  </head>
  <body background="car211.jpg">
<font  color="red">
    <h1 align="center" >Car Services</h1>
    <h2> 
</font>
<font  color="orange">
          <p align="center">
          <field>

             <label> Car Company</label>
             <select id = "companyList">
               <option value = "1">Maruti Suzuki</option>
               <option value = "2">Hyundai</option>
               <option value = "3">Honda</option>
               <option value = "4">Renault</option>
             </select>
             </field>
             <br> <br> <br> <br>
             <field>
             <label>Car Company</label>
             <select id = "modelList">
               <option value = "1">Alto k10 Lxi</option>
               <option value = "2">Alto k10 Vxi</option>
               <option value = "3">Swift Lxi</option>
               <option value = "4">Swift Vxi</option>
	<option value = "5">Celerio Lxi</option>
	<option value = "6">Celerio Vxi</option>
	<option value = "7">Alto 800 Lxi</option>
	<option value = "8">Alto 800 Vxi</option>
	<option value = "9">i20 Lxi</option>
	<option value = "10">i20 Vxi</option>
	<option value = "11">i10 Lxi</option>
	<option value = "12">i20 Vxi</option>
	<option value = "13">Honda City Lxi</option>
	<option value = "14">Honda city Vxi</option>
	<option value = "15">Honda Amaze Lxi</option>
	<option value = "16">Honda Amaze Vxi</option>
	<option value = "17">Kwid Lxi</option>
	<option value = "18">Kwid Vxi</option>
             </select>
             <field>
  <br>  <br>  <br> 
<button style="background-color:green" >Go</button>
          
</p>
</font>
  </body>
</html>